.dashboard {
  min-width: 930px;
  min-height: 500px;
}
.left {
  max-height: calc(100vh - 110px);
  padding: 10px;
}

.right {
  height: calc(100vh - 110px);
  padding: 10px;
  overflow-y: scroll;
}
#deviceStatusList {
  display: flex;
}
#deviceStatusListItem {
  margin: 5px;
  font-size: 1.3rem;
  width: 120px;
}
.statusSuccess {
  color: #67c23a;
}
.statusWarning {
  color: #dbb400;
}
.statusDanger {
  color: #fd5354;
}
span {
  font-size: 1.3rem;
}
