/*
Write your variables here. All available variables can be
found in element-ui/packages/theme-chalk/src/common/var.scss.
For example, to overwrite the theme color:
*/
$--color-primary: red;

/* icon font path, required */
$--font-path: '~element-ui/lib/theme-chalk/fonts';

@import '~element-ui/packages/theme-chalk/src/index';
.el-timeline-item__timestamp {
  font-size: 24px;
}
.el-timeline-item__node {
  left: -8px;
  width: 24px;
  height: 24px;
}
