<div class="login border">
  <div
    v-loading="loginLoading"
    :style="loginStatus == '登入失敗'?'height: 350px':''"
    class="loginDiv border rounded text-center "
  >
    <h5 class="mt-3 mb-4">
      <i class="el-icon-key"></i>
      門禁系統登入
    </h5>

    <el-form
      @keyup.enter.native="login"
      class="pr-5"
      ref="form"
      :model="form"
      label-width="80px"
    >
      <el-form-item label="帳號">
        <el-input v-model="form.username"></el-input>
      </el-form-item>
      <el-form-item label="密碼">
        <el-input
          :type="form.password.show?'':'password'"
          v-model="form.password.text"
        >
          <i
            @click="form.password.show=true"
            v-if="!form.password.show"
            slot="suffix"
            class="el-input__icon far fa-eye-slash"
          ></i>
          <i
            @click="form.password.show=false"
            v-if="form.password.show"
            slot="suffix"
            class="el-input__icon far fa-eye"
          ></i>
        </el-input>
      </el-form-item>
    </el-form>
    <el-checkbox v-model="rememberAccount">記住帳號</el-checkbox>
    <p>
      <span v-if="loginStatus == '登入失敗'" class="text-danger"
        >*帳號或密碼錯誤</span
      >
    </p>
    <el-button @click="login()" type="primary" icon="el-icon-thumb"
      >登入</el-button
    >
  </div>
</div>
